.sortMenu {
  display: flex;
  overflow-x: auto;
}

.sortMenu::-webkit-scrollbar {
    width: 0;
}

.sortBtn {
  margin: 0.5rem 0.25rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  font-size: 0.75rem;
  background-color: #0a1931;
  cursor: pointer;
  white-space: nowrap;
}

@media only screen and (min-width: 1023px) {
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile only */
@media only screen and (max-width: 767px) {
}
