.profileCard {
  flex: 1;
  background-color: #112a52;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 12px 22px rgba(0, 0, 0, 0.53);
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  color: #08c18a;
}

.avatar {
  width: 55px;
  height: 80px;
}

.genInfo {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.namePane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.infoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

lord-icon {
  margin: 0 1rem 0 0;
}

.contactLinks {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.contactLinks a, .contactLinks a:link {
  color: #fff;
}

.socialIcon {
  margin: 0 2rem 0 0;
}

.profileFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Both Tablet and Mobile */
@media only screen and (min-width: 1023px) {
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile only */
@media only screen and (max-width: 767px) {
  .genInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profileCard {
    padding: 0rem;
  }

  .contactLinks {
    justify-content: space-evenly;
  }

  .socialIcon {
    margin: 0 0.5rem;
  }

  .profileFooter {
    justify-content: space-evenly;
  }
}
